* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header {
    font-size: 1.2rem;    
    display: flex;    
    align-items: center;
    height: 250px;
    background-image: url("https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg");
}

#title {
    float: left;
    padding-left: 10%;
}

nav {
    
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}

h3 {
    padding-bottom: 1rem;
}

#dropdown {
    display: none;
}

.container {
    padding: 3% 6% ;
    display: flex;

}
.black {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
p {
    padding: 10px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 0.8rem;
    padding-bottom: 2px;
}
.jobs {
    padding: 3% 6%;
}
.jobparent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}
.descr {
    font-size: 0.8rem;
}
button {
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    position: relative;
}

button:hover {
    top: -5px;
    right: -5px;

}

.underline{
    text-decoration: underline;
}

.yellow {
    background-color: rgb(255, 255, 0);
}

.line {
border-bottom: 1px solid rgb(0, 0, 0);
width: 80vw;
display: block;
}

.bold {
    font-weight: bold;
}
#contact{
    width: 50%;
    padding-left: 3%;
    float: left;
}
#video {
    width: 50%;
    padding-right: 3%;
    float: right;
}
#lines{
    font-size: 1.2rem;
}
.coursedesc {
    border: solid black 1px;
    box-shadow: -3px 3px;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 3%;
}
.twocol{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
   align-items: center;
}


img {
    width: 10vw;
    
}

.partnerimg {
    filter: grayscale();
}
@media only screen and (max-width: 780px) {
    header {
        font-size: 0.8rem;
        height: 170px;
    }

    #title {
    padding-left: 3%;
    }

    #navbar{
        display: none;
    }

    #dropdown {
        display: inline-block;
        position: relative;
    }

    #dropdowncontent {
        display: none;
        position: absolute;
        left:0;
        z-index:1;
        background-color: rgb(0, 0, 0);
        width: 100vw;
        height: 100vh;
        padding: 3vw 3vh;
    }

    #dropdown:hover #dropdowncontent {
        display: block;
    }
   
      #dropdown:hover span {
        transition: transform .5s;
        -webkit-transition: -webkit-transform .5s;
        display: inline-block;
        transform: rotate(90deg);
      }

    #first{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1% 1%;
        
    }

    #contact {
        width: 100%;
        float: none;
        padding-bottom: 3%;
        padding: 1% 1%;
    }

    #video {
        width: 100%;
        float: none;
        padding: 1% 1%;
    }

    .jobparent, .twocol, .container{
        display: grid;
        grid-template-columns: 1fr;
    }

  }